<!-- class="d-flex justify-content-center align-items-center" -->
<div class="row w-100 h-100 mx-auto px-0 bg-light">
    <div class="contenedor-login mx-auto my-4 px-1 col-12 col-sm-4">
        <mat-card class="shadow-lg" appearance="raised">
            <mat-card-header class="text-bg-white justify-content-center">
                <!-- <div mat-card-avatar class="example-header-image"></div> -->
                <mat-card-title class="px-1"><strong>Cambio de Password</strong></mat-card-title>
                <!-- <mat-card-subtitle class="text-light">CLIENTES</mat-card-subtitle> -->
            </mat-card-header>
            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
            <mat-card-content class="pt-5">
                <form action="" class="row justify-content-center" autocomplete="off" (ngSubmit)="cambiarPassword(f)" #f="ngForm">
                    <mat-form-field class="col-12 col-sm-10">
                        <mat-label>Nuevo Password</mat-label>
                        <input matInput [(ngModel)]="new_password" required autocomplete="off"
                        name="new_password" #txtPassword  [type]="hide() ? 'password' : 'text'" (keydown.enter)="txt_new_password_confirmation.focus()" />

                        <button form="ninguno" tabindex="-1" mat-icon-button matSuffix (click)="clickEvent($event)" >
                            <mat-icon>{{hide() ? 'visibility' : 'visibility_off'}}</mat-icon>
                        </button>
                    </mat-form-field>

                    <mat-form-field class="col-12 col-sm-10">
                        <mat-label>Confirmar Password</mat-label>
                        <input matInput [(ngModel)]="new_password_confirmation"  required autocomplete="off"
                            name="new_password_confirmation" #txt_new_password_confirmation [type]="hide() ? 'password' : 'text'" (keydown.enter)="cambiarPassword(f)"/>

                        <button form="ninguno" tabindex="-1" mat-icon-button matSuffix (click)="clickEvent($event)" >
                            <mat-icon>{{hide() ? 'visibility' : 'visibility_off'}}</mat-icon>
                        </button>
                    </mat-form-field>
                    <mat-label class="col-12 col-sm-10 text-danger">{{mensaje}}</mat-label>
                </form>
                
            </mat-card-content>

            <mat-card-actions class="justify-content-around">
                <button mat-raised-button color="primary" (click)="cambiarPassword(f)">Cambiar</button>
            </mat-card-actions>
            <mat-card-footer class="example-card-footer">
                
                <!-- <mat-chip-set aria-label="Chihuahua traits">
                  <mat-chip>charming</mat-chip>
                  <mat-chip>graceful</mat-chip>
                  <mat-chip>sassy</mat-chip>
                </mat-chip-set> -->
            </mat-card-footer>
        </mat-card>


    </div>

</div>