.cotizacion-detalle-container {
    min-width: 320px;
    max-width: 100%;
}

.dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
    margin: 0;
    font-size: 1.15rem;
    font-weight: 500;
}
