
<mat-card class="my-1" appearance="outlined">

  <mat-card-header class="bg-light d-flex justify-content-between flex-wrap pt-1">
    <mat-card-title class="text-bg-white" style="font-size: 16px;">
      <strong>REPORTE INGRESOS</strong>
    </mat-card-title>

    <mat-form-field class="col-12 col-md-1">
        <mat-label>Usuario</mat-label>
        <mat-select placeholder="" [(ngModel)]="usuario_id" name="usuario_id">
            <mat-option [value]="null">Todo</mat-option>
            @for (u of usuarios();track $index) {
              <mat-option [value]="u.id">{{u.nombre_usuario}}</mat-option>
            }
        </mat-select>
    </mat-form-field>

    <mat-form-field class="col-12 col-md-1">
        <mat-label>Forma Pago</mat-label>
        <mat-select placeholder="" [(ngModel)]="forma_pago_id" name="forma_pago_id">
            <mat-option [value]="null">Todo</mat-option>
            @for (f of forma_pagos();track $index) {
              <mat-option [value]="f.id">{{f.descripcion}}</mat-option>
            }
        </mat-select>
    </mat-form-field>

     <mat-form-field class="col-12 col-md-1">
        <mat-label>Agencia</mat-label>
        <mat-select placeholder="" [(ngModel)]="agencia_id" name="agencia_id">
            <mat-option [value]="null">Todo</mat-option>
            @for (c of agencias();track $index) {
              <mat-option [value]="c.id">{{c.nombre}}</mat-option>
            }
        </mat-select>
    </mat-form-field>      

    <mat-form-field class="col-12 col-md-1">
        <mat-label>Habitacion</mat-label>
        <mat-select placeholder="" [(ngModel)]="habitacion_id" name="habitacion_id" multiple>
            <mat-option [value]="null">Todo</mat-option>            
            @for (h of filtrarHabitaciones(); track $index) {
            <mat-option [value]="h.id">{{h.descripcion}}</mat-option>
            }
        </mat-select>
    </mat-form-field>

    <mat-form-field class="col-12 col-md-1">
        <mat-label>Desde</mat-label>
        <input matInput [matDatepicker]="picker_ini" [(ngModel)]="fecha_ini" name="fecha_ini" #txtFechaIni required>      
        <mat-datepicker-toggle matIconSuffix [for]="picker_ini"></mat-datepicker-toggle>
        <mat-datepicker #picker_ini></mat-datepicker>
    </mat-form-field>
	
    <mat-form-field class="col-12 col-md-1">
        <mat-label>Hasta</mat-label>
        <input matInput [matDatepicker]="picker_fin" [(ngModel)]="fecha_fin" name="fecha_fin" #txtFechaFin required>      
        <mat-datepicker-toggle matIconSuffix [for]="picker_fin"></mat-datepicker-toggle>
        <mat-datepicker #picker_fin></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="col-12 col-md-2">
        <mat-label>Texto búsqueda</mat-label>
        <input matInput type="search" placeholder="" (keydown.enter)="busqueda(txtBusqueda.value)" #txtBusqueda>
        <button mat-icon-button matSuffix class="text-info" (click)="busqueda(txtBusqueda.value)">
          <mat-icon>search</mat-icon>
        </button>
    </mat-form-field>

    <div class="col-12 col-md-1">
        <button mat-button (click)="cargarDatos()" class="bg-primary rounded-button text-white w-100">Filtrar</button>
    </div>

    <div class="col-12 col-md-1">
        <button mat-button (click)="mostrarVisorPdf('0ms', '0ms')" class="bg-danger rounded-button text-white w-100">Pdf</button>
    </div>

  </mat-card-header>

  <mat-card-content class="bg-white p-0">
      <div class="mat-elevation-z8">
          <div class="table-responsive">
            <table mat-table [dataSource]="dataSource">

                <!-- Fila para mostrar "No hay datos disponibles" -->
                <tr *matNoDataRow>
                  <td [attr.colspan]="displayedColumns.length" class="text-center" style="font-size:18px;">
                    No hay datos disponibles
                  </td>
                </tr>

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>Id</th>
                    <td mat-cell *matCellDef="let x"> {{x.id}} </td>
                </ng-container> 
                
                <ng-container matColumnDef="nro_reserva">
                    <th mat-header-cell *matHeaderCellDef>Nro Reserva</th>
                    <td mat-cell *matCellDef="let x"> {{x.nro_reserva}} </td>
                </ng-container>

                <ng-container matColumnDef="fecha">
                    <th mat-header-cell *matHeaderCellDef>Fecha</th>
                    <td mat-cell *matCellDef="let x"> {{x.fecha}} </td>
                </ng-container>

                <ng-container matColumnDef="usuario">
                    <th mat-header-cell *matHeaderCellDef>Usuario</th>
                    <td mat-cell *matCellDef="let x"> {{x.usuario}} </td>
                </ng-container>  

                <ng-container matColumnDef="detalle">
                    <th mat-header-cell *matHeaderCellDef>Concepto</th>
                    <td mat-cell *matCellDef="let x"> {{x.detalle}} </td>
                </ng-container>              

                <ng-container matColumnDef="monto">
                    <th mat-header-cell *matHeaderCellDef>Monto</th>
                    <td mat-cell *matCellDef="let x"> {{x.monto}} </td>
                </ng-container>

                <ng-container matColumnDef="forma_pago">
                    <th mat-header-cell *matHeaderCellDef>Forma Pago</th>
                    <td mat-cell *matCellDef="let x"> {{x.forma_pago}} </td>
                </ng-container>

                <ng-container matColumnDef="cuenta">
                    <th mat-header-cell *matHeaderCellDef>Categoria</th>
                    <td mat-cell *matCellDef="let x"> {{x.cuenta}} </td>
                </ng-container>                                                      

                <ng-container matColumnDef="habitacion">
                    <th mat-header-cell *matHeaderCellDef>Habitacion</th>
                    <td mat-cell *matCellDef="let x"> {{x.habitacion}} </td>
                </ng-container>             

                <ng-container matColumnDef="agencia">
                    <th mat-header-cell *matHeaderCellDef>Agencia</th>
                    <td mat-cell *matCellDef="let x"> {{x.agencia}} </td>
                </ng-container>               

                <tr mat-header-row *matHeaderRowDef="displayedColumns" class="bg-dark text-white"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" id="fila{{row.id}}"></tr>
                
            </table>
          </div>
          <mat-divider></mat-divider>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="20" showFirstLastButtons class="bg-light"></mat-paginator>
      </div>
  </mat-card-content>
</mat-card>



