<form autocomplete="off" (ngSubmit)="submit(f)" #f="ngForm" appPreventEnterSubmit appAnimarPerderFoco [dialogRef]="dialogRef">

    <h1 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle class="text-bg-dark dialog-header">
      OPERACIONES
      <button mat-icon-button mat-dialog-close>
        <mat-icon style="color:white">close</mat-icon>
      </button>
    </h1>

    <mat-dialog-content class="mat-typography row row-cols-1 px-0 pt-2"> 
      
        <mat-form-field class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <mat-label>Tipo Operacion</mat-label>
            <mat-select placeholder="" [(ngModel)]="cuenta.tipo_cuenta_id" name="tipo_cuenta_id" #cboTipoEgreso (keydown.enter)="txtDescripcion.focus()" appPreventEnterSelect required>
                @for (x of tipo_cuentas;track $index) {
                    <mat-option [value]="x.id">{{x.descripcion}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        
        <mat-form-field class="col">
           <mat-label>Descripcion</mat-label>
           <input matInput placeholder="" [(ngModel)]="cuenta.descripcion" name="descripcion" #txtDescripcion required>
        </mat-form-field>

    </mat-dialog-content>

    <mat-dialog-actions class="d-flex justify-content-around bg-light">
        <button mat-raised-button mat-dialog-close class="bg-primary text-white">Cancelar</button>
        <button mat-raised-button type="submit" class="bg-success text-black" appBotonGuardar [form]="f"><mat-icon class="d-none"><mat-spinner  diameter="18"></mat-spinner> </mat-icon> Guardar </button>
    </mat-dialog-actions>

</form>

