<h1 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle class="text-bg-dark dialog-header">
    <!-- <span class="fs-6 text-white">IMAGEN ACTIVO-{{reserva.codigo + " "}}</span>
    <span class="fs-6 text-warning">{{" "+reserva.codigo+" | " +reserva.descripcion}}</span> -->


    <button mat-icon-button mat-dialog-close>
        <mat-icon style="color:white">close</mat-icon>
    </button>
</h1>


<mat-dialog-content class="mat-typography pt-2 px-0">
    <div class="row pb-2 m-0">
        <mat-slide-toggle (toggleChange)="toggleModificarimagen()" [(ngModel)]="modificarOCargarImagen" [class]="reservaArchivo.id>0?'':'d-none'">Editar Imagen?</mat-slide-toggle>
    </div>

    <div [class]="modificarOCargarImagen==true?'row pb-2 m-0':'d-none'">
        
        <div class="col-12">           
            <div>{{reservaArchivo.nombre_archivo}}</div>
            <button mat-raised-button class="text-primary"><label id="file-input-label" for="archivo"><mat-icon>attach_file</mat-icon>Seleccionar Imagen</label></button>
            <input type="file" id="archivo" name="archivo" hidden (change)="onFileChange($event)">
        </div>
        
        <mat-slide-toggle #mstMostrarCropper (toggleChange)="toggleMostrarEditorImagen()" [(ngModel)]="mostrarEditorImagen">Mostrar Editor Imagen</mat-slide-toggle>
        <div [class]="mostrarEditorImagen==true?'':'d-none'">
            <div class="col-12">
                <button mat-icon-button (click)="rotateLeft()" class="text-primary"><mat-icon>swipe_left</mat-icon></button>
                <button mat-icon-button (click)="rotateRight()" class="text-primary"><mat-icon>swipe_right</mat-icon></button>
                <button mat-icon-button (click)="flipHorizontal()" class="text-primary"><mat-icon>swipe_horizontal</mat-icon></button>
                <button mat-icon-button (click)="flipVertical()" class="text-primary"><mat-icon>swipe_vertical</mat-icon></button>
            
                <button mat-icon-button (click)="moveLeft()" class="text-primary"><mat-icon>arrow_circle_left</mat-icon></button>
                <button mat-icon-button (click)="moveRight()" class="text-primary"><mat-icon>arrow_circle_right</mat-icon></button>
                <button mat-icon-button (click)="moveTop()" class="text-primary"><mat-icon>arrow_circle_up</mat-icon></button>
                <button mat-icon-button (click)="moveBottom()" class=" text-primary"><mat-icon>arrow_circle_down</mat-icon></button>
                        
                <button mat-icon-button (click)="zoomOut()" class="text-primary"><mat-icon>zoom_out</mat-icon></button>
                <button mat-icon-button (click)="zoomIn()" class="text-primary"><mat-icon>zoom_in</mat-icon></button>
                        
                <button mat-icon-button (click)="toggleAspectRatioFree()" class="text-primary fs-6"><mat-icon>aspect_ratio</mat-icon> </button>
                <button mat-icon-button (click)="toggleAspectRatio11()"class="text-primary fs-6">1/1<mat-icon>aspect_ratio</mat-icon> </button>
                <button mat-icon-button (click)="toggleAspectRatio43()" class="text-primary fs-6">4/3<mat-icon>aspect_ratio</mat-icon> </button>
                <button mat-icon-button (click)="toggleAspectRatio169()" class="text-primary fs-6">16/9<mat-icon>aspect_ratio</mat-icon> </button>
                
                <button mat-icon-button (click)="croppImage()" class="text-primary"><mat-icon>content_cut</mat-icon></button>

                <button mat-icon-button (click)="resetImage()" class="text-primary"><mat-icon>restart_alt</mat-icon></button>
            </div>                    

            <div class="col-12">
                <angular-cropper #angularCropper [cropperOptions]="cropperOptions" [imageUrl]="url_archivo_lado_cliente"></angular-cropper>
            </div>
            <mat-form-field class="col-6" appearance="outline" floatLabel="always">
                <mat-label>Rotación</mat-label><input matInput hidden>
                <mat-slider min="0" max="360" step="1" showTickMarks discrete class="w-100 m-0 p-0" >
                    <input matSliderThumb (input)="rotacion($event)">
                </mat-slider>
            </mat-form-field>           
        </div>
        <div class="col-12">
            <canvas id="canvas_preview" #canvasRecorte width="1" height="1" class="img-thumbnail"></canvas>
        </div>
        <mat-form-field class="col-12" appearance="outline" floatLabel="always">
            <mat-label>Calidad</mat-label><input matInput hidden>
            <mat-slider min="1" max="100" step="1" showTickMarks discrete class="w-100 m-0 p-0">
                <input matSliderThumb (valueChange)="cambioCalidad($event)" [(ngModel)]="valorCalidad">
            </mat-slider>
            <div id="archivo-msg-error"></div>
        </mat-form-field>
    </div>

    <form autocomplete="off" id="formulario_reserva_archivo" appPreventEnterSubmit (ngSubmit)="submit(f)" #f="ngForm" enctype="multipart/form-data"  class="row row-cols-1 row-cols-md-2 mx-0 px-0" appAnimarPerderFoco [dialogRef]="dialogRef">

        <mat-form-field class="col">
            <mat-label>Tipo Archivo</mat-label>
            <mat-select placeholder="" [(ngModel)]="reservaArchivo.tipo_archivo_id" name="tipo_archivo_id" #cboTipoArchivoId (keydown.enter)="cboNroDocumento.focus()" appPreventEnterSelect required>
                @for (x of tipo_archivo;track $index) {
                    <mat-option [value]="x.id">{{x.descripcion}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        
        <mat-form-field class="col" [hidden]="reservaArchivo.tipo_archivo_id === 1 ? false : true">
            <mat-label>DNI</mat-label>
            <input matInput placeholder="" [(ngModel)]="reservaArchivo.nro_documento" name="nro_documento" #cboNroDocumento (blur)="verificarNroDocumento(reservaArchivo.nro_documento)" (keydown.enter)="cboTipoDocId.focus()">
        </mat-form-field>

        <mat-form-field class="col" [hidden]="reservaArchivo.tipo_archivo_id === 1 ? false : true">
            <mat-label>Tipo Documento</mat-label>
            <mat-select placeholder="" [(ngModel)]="reservaArchivo.tipo_doc_id" name="tipo_doc_id" #cboTipoDocId (keydown.enter)="txtNombre.focus()" appPreventEnterSelect>
                @for (x of tipo_documentos;track $index) {
                    <mat-option [value]="x.id">{{x.tipo_documento}}</mat-option>
                }
            </mat-select>
        </mat-form-field>

        <mat-form-field class="col" [hidden]="reservaArchivo.tipo_archivo_id === 1 ? false : true">
            <mat-label>nombre</mat-label>
            <input matInput placeholder="" [(ngModel)]="reservaArchivo.nombre" name="nombre" #txtNombre (keydown.enter)="txtPrimerApellido.focus()">
            <mat-icon matSuffix>face</mat-icon>
        </mat-form-field>

        <mat-form-field class="col" [hidden]="reservaArchivo.tipo_archivo_id === 1 ? false : true">
            <mat-label>Primer Apellido</mat-label>
            <input matInput placeholder="" [(ngModel)]="reservaArchivo.primer_apellido" name="primer_apellido" #txtPrimerApellido (keydown.enter)="txtSegundoApellido.focus()">
            <mat-icon matSuffix>face</mat-icon>
        </mat-form-field>

        <mat-form-field class="col" [hidden]="reservaArchivo.tipo_archivo_id === 1 ? false : true">
            <mat-label>Segundo Apellido</mat-label>
            <input matInput placeholder="" [(ngModel)]="reservaArchivo.segundo_apellido" name="segundo_apellido" #txtSegundoApellido (keydown.enter)="txtObservacion.focus()">
            <mat-icon matSuffix>face</mat-icon>
        </mat-form-field>

        <mat-form-field class="col">
            <mat-label>Detalle</mat-label>
            <input matInput placeholder="" [(ngModel)]="reservaArchivo.detalle" name="detalle" #txtObservacion>
        </mat-form-field>
        
    </form>

</mat-dialog-content>

<mat-dialog-actions class="d-flex justify-content-around bg-light">
    <button mat-raised-button mat-dialog-close class="bg-primary text-white">Cancelar</button>
    <button mat-raised-button type="submit" form="formulario_reserva_archivo" class="bg-success text-black" appBotonGuardar [form]="f"><mat-icon class="d-none"><mat-spinner  diameter="18"></mat-spinner> </mat-icon> Guardar </button>
</mat-dialog-actions>