<section class="bg-body w-100 h-100 p-2">
    <mat-card appearance="raised">
        <mat-card-header class="text-bg-dark">
            <mat-card-title>SISTEMA</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <span>BIENVENIDO AL SISTEMA</span>
        </mat-card-content>
        <mat-card-footer>
            <mat-divider></mat-divider>
        </mat-card-footer>
        <mat-card-actions>
            <div class="">
                <!-- <button mat-flat-button color="primary">primary</button>
                <button mat-flat-button color="accent">accent</button>
                <button mat-flat-button color="warn">warn</button>
                <button mat-flat-button color="tertiary">tertiary</button>
                <button mat-flat-button class="bg-warning text-white">colorBS</button>
                <button mat-flat-button disabled>Disabled</button>
                <a mat-flat-button href="#" target="_blank">Link</a> -->
            </div>
        </mat-card-actions>
    </mat-card>
    
</section>